.box {
    width: 1180.2650146484375px;
    height: 392.1844787597656px;
    box-shadow: 0px 0px 35px 0px #D4145A40;
    padding-top: 42px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box h2 {
    text-align: center;
}

input {
    width: 362.4922790527344px;
    height: 50.724178314208984px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16.41px;
    margin-right: 24px;
    padding-left: 21px;
    border-radius: 9px;
    border: 1px solid #A1A1A1;
}

.inp1 {
    width: 779.72802734375px;
    height: 81.65354919433594px;
    margin-top: 17px;
    border-radius: 9px;
}

button {
    width: 169.49298095703125px;
    height: 42.06394958496094px;
    border: none;
    border-radius: 9px;
    background: linear-gradient(96.12deg, #D4145A -21.03%, #3D5BF5 103.56%);
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    margin-top: 42px;

}

@media (max-width:900px) {
    .box {
        width: 635px;
        height: 401px;
        border-radius: 10px;

    }

    input {
        width: 432px;
        height: 41px;

        font-family: sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 16.41px;
        margin-right: 24px;
        padding-left: 21px;
        border-radius: 9px;
        border: 1px solid #A1A1A1;
    }

    .in {
        margin-bottom: 21px;
    }

    .div1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inp1 {
        width: 432px;
        height: 95px;

        font-family: sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 16.41px;


        border-radius: 9px;

    }

    button {
        width: 137.49298095703125px;
        height: 34.06394958496094px;
        border: none;
        border-radius: 9px;
        background: linear-gradient(96.12deg, #D4145A -21.03%, #3D5BF5 103.56%);
        color: white;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 23.44px;
        letter-spacing: 0%;
        text-align: center;

        margin-top: 22 px;

    }
}

@media (max-width:550px) {
    .box {
        width: 267px;
        height: 298px;
        border-radius: 10px;

    }


    input {
        width: 212px;
        height: 20px;

        font-family: sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 16.41px;
        margin-right: 24px;
        padding-left: 21px;
        border-radius: 9px;
        border: 1px solid #A1A1A1;
        margin-left: 25px;
    }

    .in {
        margin-bottom: 21px;
    }

    .div1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inp1 {
        width: 212px;
        height: 95px;
margin-left: 25px;
        font-family: sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 16.41px;


        border-radius: 9px;

    }

    button {
        width: 58.49298095703125px;
        height: 18.06394958496094px;
        border: none;
        border-radius: 9px;
        background: linear-gradient(96.12deg, #D4145A -21.03%, #3D5BF5 103.56%);
        color: white;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 9px;
        line-height: 10.44px;
        letter-spacing: 0%;
        text-align: center;

        margin-top: 22px;

    }
    h2{
        font-family: sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 17.58px;
letter-spacing: 0%;
text-align: center;

    }
}